In [2]:
from pyspark.sql import SparkSession

In [1]:
spark = SparkSession.builder \
.appName("Spark_Table") \
.getOrCreate()

25/02/01 04:55:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
spark

In [3]:
df = spark.read \
.format('csv')\
.option('header','True')\
.option('inferSchema','True')\
.load('/tmp/customers_1mb.csv')

In [6]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [8]:
df.write.format('csv').saveAsTable('default.customers_2')

25/02/01 04:57:05 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `default`.`customers_2` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
25/02/01 04:57:05 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

In [9]:
spark.sql('describe extended customers_2').show(truncate=False)

+----------------------------+---------------------------------------------------+-------+
|col_name                    |data_type                                          |comment|
+----------------------------+---------------------------------------------------+-------+
|customer_id                 |int                                                |null   |
|name                        |string                                             |null   |
|city                        |string                                             |null   |
|state                       |string                                             |null   |
|country                     |string                                             |null   |
|registration_date           |timestamp                                          |null   |
|is_active                   |boolean                                            |null   |
|                            |                                                   |       |
|# Detailed Table Information|                                                   |       |
|Database                    |default                                            |       |
|Table                       |customers_2                                        |       |
|Owner                       |root                                               |       |
|Created Time                |Sat Feb 01 04:57:06 UTC 2025                       |       |
|Last Access                 |UNKNOWN                                            |       |
|Created By                  |Spark 3.3.2                                        |       |
|Type                        |MANAGED                                            |       |
|Provider                    |csv                                                |       |
|Statistics                  |1307828 bytes                                      |       |
|Location                    |hdfs://my-cluster-m/user/hive/warehouse/customers_2|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe |       |
+----------------------------+---------------------------------------------------+-------+
only showing top 20 rows

In [12]:
df_2 = spark.sql('select * from customers_2 limit 5')

In [13]:
df_2.show()

+-----------+----------+---------+-----------+-------+-------------------+---------+
|customer_id|      name|     city|      state|country|  registration_date|is_active|
+-----------+----------+---------+-----------+-------+-------------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|2023-06-29 00:00:00|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07 00:00:00|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|2023-10-27 00:00:00|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|2023-10-17 00:00:00|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|2023-03-14 00:00:00|    false|
+-----------+----------+---------+-----------+-------+-------------------+---------+

# How to create Spark DF

In [45]:
df = spark.read \
.format('csv')\
.option('header','True')\
.option('inferSchema','True')\
.load('/tmp/customers_500mb.csv')

In [ ]:
df_2 = spark.sql('select * from customers_2 limit 5')

In [14]:
df_3 = spark.table('customers_2')

In [15]:
df_4 = spark.range(0,10)
df_4.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [16]:

data = [(1, "Alice", "Mumbai", "2023-01-15", True),
(2, "Bob", "Delhi", "2023-03-25", False),
(3, "Charlie", "Chennai", "2023-05-10", True)]

columns = ["customer_id", "name", "city", "registration_date", "is_active"]
df_5 = spark.createDataFrame(data,columns)

In [17]:
df_5.show()

+-----------+-------+-------+-----------------+---------+
|customer_id|   name|   city|registration_date|is_active|
+-----------+-------+-------+-----------------+---------+
|          1|  Alice| Mumbai|       2023-01-15|     true|
|          2|    Bob|  Delhi|       2023-03-25|    false|
|          3|Charlie|Chennai|       2023-05-10|     true|
+-----------+-------+-------+-----------------+---------+

In [18]:
rdd=spark.sparkContext.parallelize(data)

In [20]:
df_6 = rdd.toDF(["customer_id", "name", "city", "registration_date", "is_active"])

In [25]:
df_7 = spark.createDataFrame(rdd).toDF("customer_id", "name", "city", "registration_date", "is_active")

In [21]:
df_6.show()

+-----------+-------+-------+-----------------+---------+
|customer_id|   name|   city|registration_date|is_active|
+-----------+-------+-------+-----------------+---------+
|          1|  Alice| Mumbai|       2023-01-15|     true|
|          2|    Bob|  Delhi|       2023-03-25|    false|
|          3|Charlie|Chennai|       2023-05-10|     true|
+-----------+-------+-------+-----------------+---------+

In [28]:
data = [ 
{
    "total": 3,
    "subtotal": 3,
    "page": 1,
    "per_page": 20,
    "search": null,
    "sort": {
        "by": null,
        "order": null
    },
    {
        "by": null,
        "order": null
    },
    {
        "by": null,
        "order": null
    },
    "results": [
        {
            "id": 23,
            "name": "qa.lab.example.com",
            "fullname": "QA",
            "dns_id": 10,
            "created_at": "2013-08-13T09:02:31Z",
            "updated_at": "2013-08-13T09:02:31Z"
        },
        {
            "id": 25,
            "name": "sat.lab.example.com",
            "fullname": "SATLAB",
            "dns_id": 8,
            "created_at": "2013-08-13T08:32:48Z",
            "updated_at": "2013-08-14T07:04:03Z"
        },
        {
            "id": 32,
            "name": "hr.lab.example.com",
            "fullname": "HR",
            "dns_id": 8,
            "created_at": "2013-08-16T08:32:48Z",
            "updated_at": "2013-08-16T07:04:03Z"
        }
    ]
}
]

NameError: name 'null' is not defined

In [35]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType


schema_nested = StructType([
    StructField("total", IntegerType(), nullable=False),
    StructField("subtotal", IntegerType(), nullable=False),
    StructField("page", IntegerType(), nullable=False),
    StructField("per_page", IntegerType(), nullable=False),
    StructField("search", StringType(), nullable=True),
    StructField("sort", StructType([
        StructField("by", StringType(), nullable=True),
        StructField("order", StringType(), nullable=True)
    ]), nullable=True),
    StructField("results", ArrayType(StructType([
        StructField("id", IntegerType(), nullable=False),
        StructField("name", StringType(), nullable=True),
        StructField("fullname", StringType(), nullable=True),
        StructField("dns_id", IntegerType(), nullable=False),
        StructField("created_at", StringType(), nullable=True),  # Timestamp as string
        StructField("updated_at", StringType(), nullable=True)   # Timestamp as string
    ])), nullable=False)
])

In [38]:
neted_df = spark.read.format('json').schema(schema_nested).option('multiline','True').load('/tmp/nested_structure.json')

In [44]:
neted_df.describe()

DataFrame[summary: string, total: string, subtotal: string, page: string, per_page: string, search: string]

In [49]:
spark.stop()