In [1]:
from pyspark.sql import SparkSession
# Initialize Spark Session
# Initialize Spark Session with dynamic allocation
spark = SparkSession.builder \
.appName("Higher_Level_APIs") \
.getOrCreate()

25/01/25 04:44:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
!hadoop fs -ls -h /tmp/

Found 7 items
-rw-r--r--   2 root       hadoop    327.4 M 2025-01-20 10:42 /tmp/customers.csv
-rw-r--r--   2 root       hadoop     10.0 M 2025-01-20 10:31 /tmp/customers_10mb.csv
-rw-r--r--   2 mayank0953 hadoop      1.0 M 2025-01-20 10:23 /tmp/customers_1mb.csv
-rw-r--r--   2 mayank0953 hadoop    544.3 M 2025-01-22 17:12 /tmp/customers_500mb.csv
drwxr-xr-x   - anonymous  hadoop          0 2025-01-23 16:41 /tmp/external
drwxrwxrwt   - hdfs       hadoop          0 2025-01-20 09:57 /tmp/hadoop-yarn
drwx-wx-wx   - hive       hadoop          0 2025-01-20 09:57 /tmp/hive

In [5]:
df = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .load('/tmp/customers_1mb.csv')

In [7]:
df.show(5)

+-----------+----------+---------+-----------+-------+-------------------+---------+
|customer_id|      name|     city|      state|country|  registration_date|is_active|
+-----------+----------+---------+-----------+-------+-------------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|2023-06-29 00:00:00|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07 00:00:00|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|2023-10-27 00:00:00|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|2023-10-17 00:00:00|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|2023-03-14 00:00:00|    false|
+-----------+----------+---------+-----------+-------+-------------------+---------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: timestamp (nullable = true)
 |-- is_active: boolean (nullable = true)

In [11]:
df.createOrReplaceTempView('customers')

In [13]:
spark.sql('''select * from customers 
limit 5''').show()

+-----------+----------+---------+-----------+-------+-------------------+---------+
|customer_id|      name|     city|      state|country|  registration_date|is_active|
+-----------+----------+---------+-----------+-------+-------------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|2023-06-29 00:00:00|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07 00:00:00|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|2023-10-27 00:00:00|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|2023-10-17 00:00:00|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|2023-03-14 00:00:00|    false|
+-----------+----------+---------+-----------+-------+-------------------+---------+

In [16]:
spark.sql('select customer_id,citi from customers limit 5')

AnalysisException: Column 'citi' does not exist. Did you mean one of the following? [customers.city, customers.name, customers.state, customers.country, customers.is_active, customers.customer_id, customers.registration_date]; line 1 pos 19;
'GlobalLimit 5
+- 'LocalLimit 5
   +- 'Project [customer_id#48, 'citi]
      +- SubqueryAlias customers
         +- View (`customers`, [customer_id#48,name#49,city#50,state#51,country#52,registration_date#53,is_active#54])
            +- Relation [customer_id#48,name#49,city#50,state#51,country#52,registration_date#53,is_active#54] csv

In [17]:
spark.stop()

In [18]:
from pyspark.sql import SparkSession
# Initialize Spark Session
# Initialize Spark Session with dynamic allocation
spark = SparkSession.builder \
.appName("Higher_Level_APIs_2") \
.getOrCreate()

25/01/25 05:05:57 INFO SparkEnv: Registering MapOutputTracker
25/01/25 05:05:57 INFO SparkEnv: Registering BlockManagerMaster
25/01/25 05:05:57 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
25/01/25 05:05:57 INFO SparkEnv: Registering OutputCommitCoordinator

In [19]:
rdd = spark.sparkContext.parallelize([
    ('0','Customer_0','Banagalore','India'),
    ('1','Customer_1','Delhi','India')])

In [22]:
df = spark.createDataFrame(rdd,['cust_id','cust_name','state','country'])

In [23]:
df.show()

+-------+----------+----------+-------+
|cust_id| cust_name|     state|country|
+-------+----------+----------+-------+
|      0|Customer_0|Banagalore|  India|
|      1|Customer_1|     Delhi|  India|
+-------+----------+----------+-------+

In [24]:
df.createOrReplaceTempView('customers')

In [26]:
spark.sql('select cust_id from customers').show()

+-------+
|cust_id|
+-------+
|      0|
|      1|
+-------+

In [28]:
df.printSchema()

root
 |-- cust_id: string (nullable = true)
 |-- cust_name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)

In [30]:
selected_cols = df.select('cust_id','cust_name')

In [31]:
selected_cols.show()

+-------+----------+
|cust_id| cust_name|
+-------+----------+
|      0|Customer_0|
|      1|Customer_1|
+-------+----------+

In [32]:
spark.stop()

# Read  Dataframe

In [38]:
from pyspark.sql import SparkSession
# Initialize Spark Session
# Initialize Spark Session with dynamic allocation
spark = SparkSession.builder \
.appName("Higher_Level_APIs_3") \
.getOrCreate()

25/01/25 05:23:41 INFO SparkEnv: Registering MapOutputTracker
25/01/25 05:23:41 INFO SparkEnv: Registering BlockManagerMaster
25/01/25 05:23:41 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
25/01/25 05:23:41 INFO SparkEnv: Registering OutputCommitCoordinator

In [39]:
hdfs_path = '/tmp/customers_500mb.csv'

In [40]:
df = spark.read \
    .format('csv') \
    .load(hdfs_path)

In [41]:
df = spark.read \
    .format('csv') \
    .option('inferSchema', 'true') \
    .option('header', 'true') \
    .load(hdfs_path)

In [42]:
df_header_only = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .load(hdfs_path)

In [58]:
from pyspark.sql.types import *

schema = StructType([
StructField("customer_id", IntegerType(), True),
StructField("name_of_customer", StringType(), True),
StructField("city", StringType(), True),
StructField("state", StringType(), True),
StructField("country", StringType(), True),
StructField("registration_date", StringType(), True),
StructField("is_active", BooleanType(), True),
])

In [61]:
df_explicit = spark.read \
.format("csv") \
.option("header", "false") \
.schema(schema) \
.load (hdfs_path)

In [62]:
df_explicit.show(5)

+-----------+----------------+---------+-----------+-------+-----------------+---------+
|customer_id|name_of_customer|     city|      state|country|registration_date|is_active|
+-----------+----------------+---------+-----------+-------+-----------------+---------+
|       null|            name|     city|      state|country|registration_date|     null|
|          0|      Customer_0|   Mumbai|  Telangana|  India|       2023-03-21|     true|
|          1|      Customer_1|  Chennai|West Bengal|  India|       2023-05-27|    false|
|          2|      Customer_2|     Pune|  Karnataka|  India|       2023-10-11|    false|
|          3|      Customer_3|Hyderabad|    Gujarat|  India|       2023-11-11|    false|
+-----------+----------------+---------+-----------+-------+-----------------+---------+
only showing top 5 rows

In [48]:
df_4 = spark.read \
    .format('csv') \
    .option('inferSchema', 'true') \
    .option('header', 'true') \
    .load(hdfs_path)

In [53]:
df_5 = spark.read \
    .format('csv') \
    .option('inferSchema', 'true') \
    .option('header', 'true') \
    .option('samplingRatio',0.1)\
    .load(hdfs_path)

In [ ]:
from pyspark.sql.types import *

schema = StructType([
StructField("customer_id", IntegerType(), True),
StructField("name_of_customer", StringType(), True),
StructField("city", StringType(), True),
StructField("state", StringType(), True),
StructField("country", StringType(), True),
StructField("registration_date", StringType(), True),
StructField("is_active", BooleanType(), True),
])

In [90]:
ddl_schema = " customer_id INT NOT NULL, name INT, city STRING, state STRING,country STRING, registration_date TIMESTAMP,is_active BOOLEAN"

In [91]:
df_ddl_explicit = spark.read \
.format("csv") \
.option("header", "true") \
.schema(ddl_schema) \
.load (hdfs_path)

In [92]:
df_ddl_explicit.show(5)

+-----------+----+---------+-----------+-------+-------------------+---------+
|customer_id|name|     city|      state|country|  registration_date|is_active|
+-----------+----+---------+-----------+-------+-------------------+---------+
|          0|null|   Mumbai|  Telangana|  India|2023-03-21 00:00:00|     true|
|          1|null|  Chennai|West Bengal|  India|2023-05-27 00:00:00|    false|
|          2|null|     Pune|  Karnataka|  India|2023-10-11 00:00:00|    false|
|          3|null|Hyderabad|    Gujarat|  India|2023-11-11 00:00:00|    false|
|          4|null|   Mumbai|  Karnataka|  India|2023-05-09 00:00:00|    false|
+-----------+----+---------+-----------+-------+-------------------+---------+
only showing top 5 rows

In [93]:
df_ddl_explicit.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: timestamp (nullable = true)
 |-- is_active: boolean (nullable = true)